# Environments
.env
.venv
env/
venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Project specific
storage/audio_blocks/*
!storage/.keep

# Specific files
tmp/*